<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap">
  <link rel="stylesheet" href="../styles/style.css">
  <link rel="stylesheet" href="../styles/{{css}}.css">
  <link rel="stylesheet" href="../styles/flash.css">
  <script defer src="../scripts/header.js"></script>
  <script defer src="../scripts/flash.js"></script>
</head>

<body>
  <header class="top-header">
    <div class="title">
      <b>{{title}}</b>
    </div>
    <nav class="navigation">
      <a href="javascript:void(0)" onclick="closeNavBar()" class="closebtn">&times;</a>
      <div class="nav-list">
        <a href="/" class="nav-list-item">Home</a>
        <span class="vr-line-symbol">&#124;</span>
        <a href="/authenticate" class="nav-list-item">Members</a>
        <span class="vr-line-symbol">&#124;</span>
        <a href="/register" class="nav-list-item">Register</a>
        <span class="vr-line-symbol">&#124;</span>
        <a href="/contact" class="nav-list-item">Contact us</a>
        <span class="vr-line-symbol">&#124;</span>
        <a href="/matrimony " class="nav-list-item">Matrimony</a>
      </div>
    </nav>
    <div class="nav-bar-icon" onclick="openNavBar()">&#9776;</div>
  </header>

  {{#if message}}
  <div class="alert alert--{{message.type}}">
      <strong>{{message.title}} &nbsp;:&nbsp; </strong> <span>{{message.message}}</span>
      <button type="button" name="close" class="alert__btn--close" onclick="closeFlashMessage(`alert--{{message.type}}`)">&times;</button>
  </div>
  {{/if}}

  {{{body}}}
  
</body>

</html>