<main class="main">
    <form action="/member/listBy" method="GET" class="list-form">
        <div class="form-content list-by">
            <b>List by</b> 
        </div>
        <div class="form-content">
            <select name="state" class="form-input dropdown" onchange="this.form.submit()">
                <optgroup label="State">
                    <option class="name" value="{{defaultState}}">{{defaultState}}</option>
                    <option class="name" value="All">All</option>
                    {{#each state}}
                        <option class="name" value="{{State}}">{{State}}</option>
                    {{/each}}
                </optgroup>   
            </select>
        </div>
        <div class="form-content">
            <select name="native" class="form-input dropdown" onchange="this.form.submit()">
                <optgroup label="Native">
                    <option class="name" value="{{defaultNative}}">{{defaultNative}}</option>
                    <option class="name" value="All">All</option>
                    {{#each native}} 
                        <option class="name" value="{{Native}}">{{Native}}</option>
                    {{/each}}
                </optgroup>
            </select>
        </div>
    </form>
    
    <section class="contact-person">
        <section class="person-container">
            {{#each head}}
                <section class="person-tile">
                    <section class="person">
                        <div class="person-info name"><b>{{Name}}</b></div>
                        <div class="person-info phone">{{Phone}}</div>
                        <br>
                        <div class="person-info"><b>Native: </b>{{Native}}, <b>Mosal: </b>{{Mosal}}</div>
                        <div class="person-info phone"><b>State: </b>{{State}}</div>
                    </section>
                    <button class="view-family" onclick="openFamily({{Family_No}})">view</button>
                </section>    
            {{/each}}
        </section>
        <section class="family-container">
            {{#each head}}
                <section class="family" id="family{{Family_No}}">
                    <div class="family-header">
                        <div class="head-name">
                            <div class="family-header-content">family of</div>
                            <div class="family-header-content">{{Name}}</div>
                        </div>
                        <a href="javascript:void(0)" onclick="closeFamily({{Family_No}})" class="familyClosebtn">&times;</a>
                    </div>
                    
                    <section class="family-details">
                        {{#each ../person}}
                        {{#if_eq Family_No ../Family_No}}
                        <section class="family-person">
                            <div class="family-person-info"><b>{{Name}}</b></div>
                            <div class="family-person-info">{{Relationship}}</div>
                            <div class="family-person-info">{{Phone}}</div>
                            <div class="family-person-info"><b>Native: </b>{{Native}}</div>
                            <div class="family-person-info"><b>Mosal: </b>{{Mosal}}</div>
                        </section>
                        {{/if_eq}}
                        {{/each}}
                    </section>
                </section>
            {{/each}}
        </section>
    </section>
    <script defer src="../scripts/familyDetails.js"></script>
</main>